.container {
  position: relative;
  margin: 0 auto;
  width: 45%;
  height: 620px;
  max-width: 500px;
  padding: 3rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  text-align: start;
}

/* .result-width {
  width: 60%;
  max-width: 700px;
} */

select {
    appearance: none;
    padding: 0.5rem;
}

.select-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.select-div select {
  width: 100%;
}

.user-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-info>div {
  margin-top: 2rem;
}

.radio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom:  0.5rem;
}

.radio div {
  margin-top: 0.5rem;
}

.input-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 1.2rem;
  padding: 1.2rem; */
}

.credit-input {
  width: 80%;
  margin-top: 5px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}

.credit-input:focus {
  background-color: wheat;
}

.text-box {
  text-align: center;
  white-space: pre-line;

}

.text-box a {
  text-decoration: none;
}

.btn {
  position: absolute;
  width: 25%;
  bottom: 30px;
}

.next-btn {
  right: 48px;
}

.result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 1.5rem;
  text-align: center;
}

.result-container {
  display: grid;
  /* place-items: center; */
  grid-template-columns: 1.3fr 1.7fr;
}

.result-container>div {
  background-color: white;
  border-radius: 1rem;
  margin: 1.2rem;
  padding: 1.2rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.credit-info {
  max-width: 80%;
}

.text-info {
  max-width: 80%;
}